<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Login</title>

  <link rel="stylesheet" href="style.css" />
  <link rel="stylesheet" href="signup-login.css" />
  

  <form action="/login" method="post">
    <a style="font-size: 50px; font-weight: 900;" href="/">Login</a>
    <div>
      <input type="email" id="email" name="email" placeholder="Email" />
    </div>
    <div>
      <input type="password" id="password" name="password" placeholder="Password" />
    </div>
    <button type="submit">Login</button>
    <br />
    <a href="/signup">No Have Account? Register</a>
  </form>
  
  <script src="script.js"></script>
  </body>

</html>